
<!-- Se utiliza un componente de encabezado personalizado y se configura el título según si se está agregando o actualizando un producto -->
<app-header [isModal]="true" [title]="product ? 'Actualizar Reserva' : 'Agregar Reserva'"></app-header>

<ion-content>
  <!-- Formulario que utiliza formGroup para la gestión de formularios en Angular -->
  <form [formGroup]="form" class="ion-padding ion-text-center" (ngSubmit)="submit()" (keypress.enter)="submit()">
    <!-- Avatar para mostrar la imagen del producto si existe -->
    <ion-avatar *ngIf="form.value.image">
      <img [src]="form.value.image" />
    </ion-avatar>
    <!-- Icono alternativo si no hay imagen seleccionada -->
    <ion-icon class="image-icon" *ngIf="!form.value.image" name="image-outline"></ion-icon>

    <br>
    <!-- Botón para tomar o seleccionar una foto, llama a la función takeImage() -->
    <ion-button (click)="takeImage()" mode="ios" size="small" shape="round">
      Tomar/Seleccionar
    </ion-button>

   
    <!-- calendario  -->
    <ion-datetime [formControl]="form.controls.fecha" presentation="day-month-year"></ion-datetime>

    <!-- seleccionar tipo de servicio-->
    <ion-list>
      <ion-item>
        <ion-select [formControl]="form.controls.tipoServicio" label="TipoServicio" placeholder="Tipo de Servicio" (ionChange)="setPrecioImputs()">
          <ion-select-option value="Estacionamiento">Estacionamiento</ion-select-option>
          <ion-select-option value="Quincho">Quincho</ion-select-option>
          <ion-select-option value="Piscina">Piscina</ion-select-option>
          <ion-select-option value="Sala De Evento">Sala De Evento</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    
    <!-- Validaciones para el campo de nombre -->
    <div class="validators" *ngIf="form.controls.tipoServicio.errors && form.controls.tipoServicio.touched"
    
    >
      <div *ngIf="form.controls.tipoServicio.errors?.['required']">Este campo es requerido</div>
      <div *ngIf="form.controls.tipoServicio.errors?.['minlength']">El nombre debe tener al menos 4 caracteres</div>
    </div>

   
    <!-- Componente personalizado de entrada para el precio -->
    <app-custom-input
      [control]="form.controls.price"
      type="number"
      label="Garantía"
      (ionInput)="setNumberInputs()"
    ></app-custom-input>

    <!-- Validaciones para el campo de precio -->
    <div class="validators" *ngIf="form.controls.price.errors && form.controls.price.touched">
      <div *ngIf="form.controls.price.errors?.['required']">Este campo es requerido</div>
      <div *ngIf="form.controls.price.errors?.['min']">El precio mínimo debe ser 0</div>
    </div>

    <!-- Componente personalizado de entrada para las unidades vendidas -->
    <app-custom-input
      [control]="form.controls.hora"
      type="number"
      label="Horas Solicitadas"
      (ionInput)="setNumberInputs()"
    ></app-custom-input>

    <!-- Validaciones para el campo de unidades vendidas -->
    <div class="validators" *ngIf="form.controls.hora.errors && form.controls.hora.touched">
      <div *ngIf="form.controls.hora.errors?.['required']">Este campo es requerido</div>
      <div *ngIf="form.controls.hora.errors?.['min']">La cantidad mínima debe ser 0</div>
    </div>

    <!-- Botón para enviar el formulario, habilitado/deshabilitado según la validez del formulario -->
    <ion-button mode="ios" class="ion-margin" type="submit" [disabled]="form.invalid">
      {{ product ? 'Actualizar Reserva' : 'Agregar Reserva' }}
      <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
    </ion-button>
  </form>
</ion-content>
